# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env

# React / Node
mindscore-frontend/node_modules/
mindscore-frontend/build/
mindscore-frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/